<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <P>名字：{{name}}</P>-->
<!--    <P>年龄：{{age}}</P>-->
<!--    <h1>DTL模板引擎</h1>-->
<!--    {# django模板引擎的注释 #}-->

    <h1>{{ title }}</h1>
    <p>作者：{{ author | default:"尹明"}}</p>  {# default 过滤器的作用是当变量不存在时，使用当前默认值实现 #}
    <p>{{ content | safe }}</p>  {# safe 过滤器的作用是告诉django，当前输出内容中的HTML内容属于可信任的安全内容，不要对内容中的html代码进行实体转义#}
    <p>{{ content | length }}</p>
    <p>{{ now | date:"Y-m-d H:i:s" }}</p>

    {% load my_filters %}
    <p>{{ mobile }}</p>
    <p>{{ mobile | mobile }}</p>
    <p>{{ mobile | mobile:"国庆快乐" }}</p>


</body>
</html>